<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- import css file -->
     <link rel="stylesheet" href="/css/styles.css">

    <title>PhotoUpload</title>
</head>
<body>
     <div>Load photo</div><br/>
      <form action="/uploadandresize" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" />
        <input type="submit" value="Submit"/>  
      </form> 
      
    
</body>
</html>